@use "../../shared/sass/colors";

.newspack-checkout-button {
	&__product-field {
		&__selected {
			.components-button {
				display: block;
				width: 100%;
				text-align: left;
			}
		}
		&__error {
			color: colors.$color__error;
			font-size: 0.9em;
			margin-top: 0.5em;
		}
		/* Workaround for hard-coded help text in FormTokenField. */
		.components-form-token-field__help {
			display: none;
		}
		&__tokenfield {
			position: relative;
			.components-spinner {
				position: absolute;
				top: 2em;
				right: 0;
			}
		}
	}
}

.wp-block-newspack-blocks-checkout-button {
	display: flex;

	&.alignwide,
	&.alignfull {
		div {
			width: 100%;
		}
	}
	&.aligncenter {
		flex-direction: column;

		div {
			margin-left: auto;
			margin-right: auto;
		}
	}

	&.wp-block-button__width-25 &__button {
		width: 25%;
	}
	&.wp-block-button__width-50 &__button {
		width: 50%;
	}
	&.wp-block-button__width-75 &__button {
		width: 75%;
	}
	&.wp-block-button__width-100 &__button {
		width: 100%;
	}

	&__button {
		width: auto;
	}
}

