.type-scale-slider,
.image-scale-slider {
	.dashicons-editor-textcolor,
	.dashicons-images-alt2 {
		height: 24px;
		width: 24px;
	}

	label + .dashicons-editor-textcolor,
	label + .dashicons-images-alt2 {
		height: 16px;
		width: 16px;
	}
}

.wp-block-newspack-blocks-homepage-articles .editor-rich-text {
	width: 100%;
}
