@use "../../shared/sass/variables";
@use "../../shared/sass/placeholder";
@use "../../shared/sass/colors";
@use "../../shared/sass/mixins";

.wpnbha {
	article .entry-title {
		margin: 0 0 0.25em;
	}

	@include mixins.media( tablet ) {
		&.ts-4 article .entry-title {
			font-size: 1.6em;
		}
	}

	.editor-rich-text {
		width: 100%;
	}

	/* Article meta */
	.cat-links {
		font-size: variables.$font__size-xs;
	}

	span.avatar {
		display: inline-block;
		margin-right: 0.5em;
		div {
			display: inline;
		}
	}

	/* Article excerpt */
	.excerpt-contain p {
		margin: 0.5em 0;
	}


}

.editor-styles-wrapper.wpnbha__wp-block-button__wrapper {
	background-color: transparent;
}

.newspack-block {
	&--error.components-placeholder {
		color: colors.$color__error;
	}
	&--disabled {
		position: relative;
		&::after {
			content: "";
			position: absolute;
			z-index: 2;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: #fff;
			opacity: 0.6;
		}
	}

	&__panel {
		.spacing-sizes-control {
			.components-range-control__root {
				> span {
					margin-top: 0;
				}
			}
		}
	}

	&__loop-panel {
		> *:not(.components-panel__body-title) {
			margin-bottom: 24px;
			margin-top: 0;
		}

		.components-button.is-secondary {
			justify-content: center;
			width: 100%;

			&:has(svg) {
				justify-content: space-between;
			}
		}

		.autocomplete-tokenfield + .components-toggle-control:not(.newspack-blocks-deduplication-toggle) {
			margin-top: -16px;
		}
	}

	&__button-group {
		flex: 0 0 100%;

		.components-base-control__label {
			width: 100%;
		}

		.components-button-group {
			display: grid;

			&__2 {
				grid-template-columns: repeat(2, 1fr);
			}

			&__3 {
				grid-template-columns: repeat(3, 1fr);
			}

			button {
				justify-content: center;
			}
		}
	}
}

.components-base-control__field:empty {
	display: none;

	+ .components-base-control__help {
		margin: 0;
	}
}
