@import "../../shared/sass/variables";

.type-scale-slider,
.image-scale-slider {
	.dashicons-editor-textcolor,
	.dashicons-images-alt2 {
		height: 24px;
		width: 24px;
	}

	label + .dashicons-editor-textcolor,
	label + .dashicons-images-alt2 {
		height: 16px;
		width: 16px;
	}
}

.wpnbha {
	.editor-rich-text {
		width: 100%;
	}

	/* Article meta */
	.cat-links {
		font-size: $font__size-xs;
	}

	span.avatar {
		display: inline-block;
		margin-right: 0.5em;
		div {
			display: inline;
		}
	}
}
