.wp-block-newspack-blocks-homepage-articles {
	list-style: none;
	margin: 0;
	padding: 0;

	&.alignleft {
		/*rtl:ignore*/
		margin-right: 2em;
	}
	&.alignright {
		/*rtl:ignore*/
		margin-left: 2em;
	}
	&.is-grid {
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		list-style: none;

		li {
			margin: 0 16px 16px 0;
			width: 100%;
		}
	}
}

.wp-block-latest-posts__post-date {
	display: block;
}

