.wp-block-newspack-blocks-homepage-articles {
	.avatar {
		border-radius: 100%;
		display: inline-block;
	}

	&.is-grid {
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		list-style: none;

		article {
			margin: 0 16px 16px 0;
			width: 100%;
		}
	}

	@media ( min-width: 600px ) {
		@for $i from 2 through 6 {
			&.columns-#{ $i } article {
				width: calc( ( 100% / #{$i} ) - 16px );
			}
		}
	}
}
