@import "sass/variables";
@import "sass/mixins";

.wp-block-newspack-blocks-homepage-articles {
	article {
		margin-bottom: 1.5em;
		word-break: break-word;
		overflow-wrap: break-word;
	}

	/* Section header */
	.article-section-title {
		font-size: $font__size-sm;
		margin-bottom: 0.5em;
		width: 100%; // make sure this isn't caught up in the flex styles.
	}

	/* Column styles */
	&.is-grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0;
		list-style: none;

		article {
			width: 100%;

			@include media(tablet) {
				margin-bottom: 1em;
			}
		}
	}

	@include media(tablet) {
		@for $i from 2 through 6 {
			&.columns-#{ $i } article {
				width: calc( ( 100% / #{$i} ) - 12px );
			}
		}
	}

	/* Image styles */

	.post-thumbnail {
		margin: 0;
	}

	&.image-alignleft,
	&.image-alignright {
		.post-has-image {
			display: flex;

			.post-thumbnail,
			.entry-wrapper {
				flex-basis: 50%;
			}
		}

		&.image-scale4 {
			.post-thumbnail {
				flex-basis: 75%;
			}
			.entry-wrapper {
				flex-basis: 25%;
			}
		}

		// .image-scale3 is the default - 50%

		&.image-scale2 {
			.post-thumbnail {
				flex-basis: 33%;
			}
			.entry-wrapper {
				flex-basis: 67%;
			}
		}

		&.image-scale1 {
			.post-thumbnail {
				flex-basis: 25%;
			}
			.entry-wrapper {
				flex-basis: 75%;
			}
		}
	}

	&.image-alignleft {
		.post-thumbnail {
			margin-right: 1em;
		}
	}

	&.image-alignright {
		.post-thumbnail {
			margin-left: 1em;
		}
		.entry-wrapper {
			order: -1;
		}
	}

	/* Headings */
	.entry-title {
		margin: 0;
		a {
			color: inherit;
			text-decoration: none;
		}
	}

	/* Article meta */
	.entry-meta {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-top: 0.5em;

		.byline:not(:last-child) {
			margin-right: 1.5em;
		}
	}

	.avatar {
		border-radius: 100%;
		display: block;
		height: 36px;
		margin-right: 0.5em;
		width: 36px;
	}
}

/* Some really rough font sizing */
.wp-block-newspack-blocks-homepage-articles {
	/* 'Normal' size */
	article {
		.entry-title {
			font-size: 24px;
		}
		.entry-meta {
			font-size: 16px;
		}
		.avatar {
			height: 36px;
			width: 36px;
		}

		@include media(tablet) {
			.entry-title {
				font-size: 32px;
			}
		}
	}

	&.type-scale8 article {
		.entry-title {
			font-size: 44px;
		}
		@include media(tablet) {
			.entry-title {
				font-size: 68px;
			}
			.avatar {
				height: 48px;
				width: 48px;
			}
		}
		@include media(desktop) {
			.entry-title {
				font-size: 80px;
			}
		}
	}

	&.type-scale7 article {
		.entry-title {
			font-size: 40px;
		}
		@include media( tablet) {
			.entry-title {
				font-size: 56px;
			}
			.avatar {
				height: 48px;
				width: 48px;
			}
		}
		@include media(desktop) {
			.entry-title {
				font-size: 68px;
			}
		}
	}

	&.type-scale6 article {
		.entry-title {
			font-size: 36px;
		}
		@include media(tablet) {
			.entry-title {
				font-size: 48px;
			}
			.avatar {
				height: 44px;
				width: 44px;
			}
		}
		@include media(desktop) {
			.entry-title {
				font-size: 60px;
			}
		}
	}

	&.type-scale5 article {
		.entry-title {
			font-size: 28px;
		}
		@include media(tablet) {
			.entry-title {
				font-size: 44px;
			}
			.avatar {
				height: 40px;
				width: 40px;
			}
		}
	}

	/* Type Scale 4: default */

	&.type-scale3 article {
		.entry-title {
			font-size: 20px;
		}
		.entry-wrapper p {
			font-size: 16px;
		}
		.entry-meta {
			font-size: 14px;
		}
		.avatar {
			height: 32px;
			width: 32px;
		}
		@include media(tablet) {
			.entry-title {
				font-size: 24px;
			}
		}
	}

	&.type-scale2 article {
		.entry-title {
			font-size: 18px;
			@include media(tablet) {
				font-size: 20px;
			}
		}
		.entry-wrapper p {
			font-size: 16px;
		}
		.entry-meta {
			font-size: 14px;
		}
		.avatar {
			height: 28px;
			width: 28px;
		}
	}

	&.type-scale1 article {
		.entry-title {
			font-size: 16px;
		}
		.entry-wrapper p,
		.entry-meta {
			font-size: 14px;
		}
		.avatar {
			height: 24px;
			width: 24px;
		}
	}
}

/* Block styles */

.is-style-background {
	article {
		background: #fff;
		border: 1px solid rgba(0, 0, 0, 0.2);
	}

	.entry-wrapper {
		padding: 1.5em;
	}
}

.is-style-borders {
	article {
		border: solid rgba(0, 0, 0, 0.2);
		border-width: 0 0 1px;
		padding-bottom: 1.5em;

		&:last-of-type {
			border: 0;
		}
	}

	@include media(tablet) {
		&.is-grid {
			article {
				border-width: 0 1px 0 0;
				padding-right: 1.5em;
			}
		}

		&.is-grid article:last-of-type,
		&.columns-1 article,
		&.columns-2 article:nth-of-type(2n),
		&.columns-3 article:nth-of-type(3n),
		&.columns-4 article:nth-of-type(4n),
		&.columns-5 article:nth-of-type(5n),
		&.columns-6 article:nth-of-type(6n) {
			border: 0;
		}
	}
}
