@import "../../shared/sass/variables";
@import "../../shared/sass/mixins";

.wp-block-newspack-blocks-homepage-articles {
	article {
		margin-bottom: 1.5em;
		padding-bottom: 1.5em;
		word-break: break-word;
		overflow-wrap: break-word;
	}

	/* Section header */
	.article-section-title {
		font-size: $font__size-sm;
		margin-bottom: 0.5em;
		width: 100%; // make sure this isn't caught up in the flex styles.
	}

	/* Column styles */
	&.is-grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0;
		list-style: none;

		article {
			flex-basis: 100%;

			@include media(tablet) {
				margin-bottom: 1em;
			}
		}
	}

	@include media(mobile) {
		&.columns-3 article,
		&.columns-6 article {
			flex-basis: calc( 33.333% - 16px );
		}

		&.columns-2 article,
		&.columns-4 article,
		&.columns-5 article {
			flex-basis: calc( 50% - 16px);
		}

		&.columns-5 article:last-of-type:nth-child(odd) {
			flex-grow: 1;
		}
	}

	@include media(tablet) {
		@for $i from 2 through 6 {
			&.columns-#{ $i } article {
				flex-basis: calc( ( 100% / #{$i} ) - 16px );
			}
		}
	}

	/* Image styles */

	.post-thumbnail {
		margin: 0;
	}

	figcaption {
		font-size: $font__size-xxs;
	}

	&.image-aligntop .post-thumbnail {
		margin-bottom: 1em;
	}

	&.image-alignleft,
	&.image-alignright {
		.post-has-image {
			display: flex;

			.post-thumbnail,
			.entry-wrapper {
				flex-basis: 50%;
			}
		}

		&.image-scale4 {
			.post-thumbnail {
				flex-basis: 75%;
			}
			.entry-wrapper {
				flex-basis: 25%;
			}
		}

		// .image-scale3 is the default - 50%

		&.image-scale2 {
			.post-thumbnail {
				flex-basis: 33%;
			}
			.entry-wrapper {
				flex-basis: 67%;
			}
		}

		&.image-scale1 {
			.post-thumbnail {
				flex-basis: 25%;
			}
			.entry-wrapper {
				flex-basis: 75%;
			}
		}
	}

	&.image-alignleft {
		.post-thumbnail {
			margin-right: 1em;
		}
	}

	&.image-alignright {
		.post-thumbnail {
			margin-left: 1em;
		}
		.entry-wrapper {
			order: -1;
		}
	}

	/* Headings */
	.entry-title {
		margin: 0 0 0.25em;
		a {
			color: inherit;
			text-decoration: none;
		}
	}

	/* Article meta */
	.entry-meta {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-top: 0.5em;

		.byline:not(:last-child) {
			margin-right: 1.5em;
		}
	}

	.avatar {
		border-radius: 100%;
		display: block;
		margin-right: 0.5em;
	}

	&.has-text-color {
		.article-section-title,
		.entry-title,
		.entry-title a,
		.entry-title a:visited,
		.entry-meta,
		.entry-meta a,
		.entry-meta .byline a,
		.entry-meta .byline a:visited,
		figcaption {
			color: inherit;
		}
	}

	&.has-text-color {
		.entry-meta span:not(.avatar) {
			opacity: 0.8;
		}
	}
}

/* Some really rough font sizing */
.wp-block-newspack-blocks-homepage-articles {
	/* 'Normal' size */
	article {
		.entry-title {
			font-size: 1.2em;
		}
		.entry-meta {
			font-size: 0.8em;
		}
		.avatar {
			height: 1.8em;
			width: 1.8em;
		}

		@include media(tablet) {
			.entry-title {
				font-size: 1.6em;
			}
		}
	}

	&.type-scale10 article {
		.entry-title {
			font-size: 2.6em;
		}
		@include media(tablet) {
			.entry-title {
				font-size: 3.6em;
			}
			.avatar {
				height: 2.4em;
				width: 2.4em;
			}
		}
		@include media(desktop) {
			.entry-title {
				font-size: 4.8em;
			}
		}
	}

	&.type-scale9 article {
		.entry-title {
			font-size: 2.4em;
		}
		@include media(tablet) {
			.entry-title {
				font-size: 3.4em;
			}
			.avatar {
				height: 2.4em;
				width: 2.4em;
			}
		}
		@include media(desktop) {
			.entry-title {
				font-size: 4.4em;
			}
		}
	}

	&.type-scale8 article {
		.entry-title {
			font-size: 2.2em;
		}
		@include media(tablet) {
			.entry-title {
				font-size: 3.2em;
			}
			.avatar {
				height: 2.4em;
				width: 2.4em;
			}
		}
		@include media(desktop) {
			.entry-title {
				font-size: 4.0em;
			}
		}
	}

	&.type-scale7 article {
		.entry-title {
			font-size: 2em;
		}
		@include media( tablet) {
			.entry-title {
				font-size: 2.8em;
			}
			.avatar {
				height: 48px;
				width: 48px;
			}
		}
		@include media(desktop) {
			.entry-title {
				font-size: 3.6em;
			}
		}
	}

	&.type-scale6 article {
		.entry-title {
			font-size: 1.8em;
		}
		@include media(tablet) {
			.entry-title {
				font-size: 2.4em;
			}
			.avatar {
				height: 44px;
				width: 44px;
			}
		}
		@include media(desktop) {
			.entry-title {
				font-size: 3em;
			}
		}
	}

	&.type-scale5 article {
		.entry-title {
			font-size: 1.4em;
		}
		@include media(tablet) {
			.entry-title {
				font-size: 2.2em;
			}
			.avatar {
				height: 40px;
				width: 40px;
			}
		}
		@include media(desktop) {
			.entry-title {
				font-size: 2.4em;
			}
		}
	}

	/* Type Scale 4: default */

	&.type-scale3 article {
		.entry-title {
			font-size: 1em;
		}
		.entry-wrapper p {
			font-size: 0.8em;
		}
		.entry-meta {
			font-size: 0.7em;
		}
		.avatar {
			height: 32px;
			width: 32px;
		}
		@include media(tablet) {
			.entry-title {
				font-size: 1.2em;
			}
		}
	}

	&.type-scale2 article {
		.entry-title {
			font-size: 0.9em;
			@include media(tablet) {
				font-size: 1em;
			}
		}
		.entry-wrapper p {
			font-size: 0.8em;
		}
		.entry-meta {
			font-size: 0.7em;
		}
		.avatar {
			height: 28px;
			width: 28px;
		}
	}

	&.type-scale1 article {
		.entry-title {
			font-size: 0.8em;
		}
		.entry-wrapper p,
		.entry-meta {
			font-size: 0.7em;
		}
		.avatar {
			height: 24px;
			width: 24px;
		}
	}
}

/* Block styles */

.wp-block-newspack-blocks-homepage-articles.is-style-borders {
	article {
		border: solid rgba(0, 0, 0, 0.2);
		border-width: 0 0 1px;
		margin-bottom: 2em;
		padding-bottom: 2em;
	}

	@include media(tablet) {

		@for $i from 2 through 6 {
			&.columns-#{ $i } article {
				padding-right: calc( ( 16px * #{$i} ) / ( #{$i} - 1 ) );
			}
		}

		&.is-grid {
			article {
				border-width: 0 1px 0 0;
			}
		}

		&.is-grid article:last-of-type,
		&.columns-1 article,
		&.columns-2 article:nth-of-type(2n),
		&.columns-3 article:nth-of-type(3n),
		&.columns-4 article:nth-of-type(4n),
		&.columns-5 article:nth-of-type(5n),
		&.columns-6 article:nth-of-type(6n) {
			border: 0;
		}
	}
}
