.wp-block-newspack-blocks-homepage-articles {
	/* Column styles */

	&.is-grid {
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		list-style: none;

		article {
			margin: 0 16px 16px 0;
			width: 100%;
		}
	}

	@media ( min-width: 600px ) {
		@for $i from 2 through 6 {
			&.columns-#{ $i } article {
				width: calc( ( 100% / #{$i} ) - 16px );
			}
		}
	}

	/* Image styles */

	.post-thumbnail {
		margin: 0;
	}

	&.image-alignleft {
		.post-thumbnail {
			float: left;
			width: 50%;
		}
	}
	&.image-alignright {
		.post-thumbnail {
			float: right;
			width: 50%;
		}
	}

	/* Article meta */

	.article-meta,
	.byline {
		align-items: center;
		display: flex;
	}

	.avatar {
		border-radius: 100%;
		display: inline-block;
		margin-right: 0.25em;
	}

	.byline {
		padding-right: 1.5em;
	}
}
