// Link input
$input-padding: 8px;
$input-size: 300px;

.block-editor-block-list__block .block-editor-autocomplete-dropdown-input,
.components-popover .block-editor-autocomplete-dropdown-input,
.block-editor-autocomplete-dropdown-input {
	position: relative;
	padding: 1px;
	width: 100%;

	input[type="text"] {
		width: 100%;
		padding: $input-padding;
		margin-left: 0;
		margin-right: 0;

		&::-ms-clear {
			display: none;
		}
	}

	&.has-border input[type="text"] {
		border: 1px solid #636d75;
		border-radius: 4px;
	}

	.components-spinner {
		position: absolute;
		right: $input-padding;
		top: $input-padding + 1;
		margin: 0;
	}
}

// Suggestions
.block-editor-autocomplete-dropdown-input__suggestions {
	max-height: 200px;
	transition: all 0.15s ease-in-out;
	padding: 4px 0;
	// To match the url-input width: input width + padding + 2 buttons.
	width: $input-size + 2;
	overflow-y: auto;
}

.block-editor-autocomplete-dropdown-input__suggestion {
	padding: 4px $input-padding;
	color: #636d75;
	display: block;
	cursor: pointer;
	background: #FFF;
	width: 100%;
	border: none;
	text-align: left;
	border: none;
	box-shadow: none;

	&:hover {
		background: #e1e2e2;
	}
}

// Toolbar button
.components-toolbar > .block-editor-autocomplete-dropdown-input__button {
	position: inherit; // Let the dialog position according to parent.
}

.block-editor-autocomplete-dropdown-input__button .block-editor-autocomplete-dropdown-input__back {
	margin-right: 4px;
	overflow: visible;

	&::after {
		content: "";
		position: absolute;
		display: block;
		width: 1px;
		height: 24px;
		right: -1px;
		background: silver
	}
}

.block-editor-autocomplete-dropdown-input__button-modal {
	box-shadow: 0 3px 30px rgba(100,100,100, 0.1);;
	border: 1px solid #1a1a1a;
	background: #FFF;
}

.block-editor-autocomplete-dropdown-input__button-modal-line {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	flex-shrink: 1;
	min-width: 0;
	align-items: flex-start;

	.components-button {
		flex-shrink: 0;
		width: 36px;
		height: 36px;
	}
}