@import '../../shared/sass/variables';
@import '../../shared/sass/mixins';

.wp-block-newspack-blocks-author-profile {
	@include media( mobile ) {
		display: flex;
	}

	&__avatar {
		@include media( mobile ) {
			flex: 0 1 auto;
			margin-right: 1.5em;
		}

		figure {
			margin: 0;
			overflow: hidden;
		}

		.avatar {
			border-radius: 0;
			display: block;
			height: auto;
			max-width: none;
			width: 100%;
		}
	}

	&__bio {
		@include media( mobile ) {
			flex: 4;

			h3 {
				margin-top: 0;
			}
		}
	}

	&__social-links {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: -8px;
		padding: 0;

		li {
			margin: 8px;
		}

		a,
		svg {
			display: block;
		}

		svg {
			fill: currentColor;
		}
	}

	.hidden {
		display: none;
	}

	// Avatar: Right
	&.avatar-right {
		@include media( mobile ) {
			.wp-block-newspack-blocks-author-profile__avatar {
				margin-left: 1.5em;
				margin-right: 0;
				order: 2;
			}
		}
	}

	// Style: Center
	&.is-style-center {
		display: block;

		.wp-block-newspack-blocks-author-profile__avatar {
			margin: 0 0 1.5em;

			figure {
				margin: 0 auto;
			}
		}

		.wp-block-newspack-blocks-author-profile__bio {
			text-align: center;
		}

		.wp-block-newspack-blocks-author-profile__social-links {
			justify-content: center;
		}
	}
}
