@import '../../../shared/sass/variables';
@import '../../../shared/sass/mixins';

.wp-block-columns {
	&.is-not-stack-on-mobile {
		margin-left: -16px;
		max-width: calc( 100% + 32px );
		width: calc( 100% + 32px );
	}

	@include media( mobile ) {
		flex-wrap: nowrap;
		margin-left: -16px;
		max-width: calc( 100% + 32px );
		width: calc( 100% + 32px );

		&.is-style-first-col-to-second .wp-block-column:nth-child( 2 ) {
			order: -1;
		}

		&.is-style-first-col-to-third .wp-block-column:nth-child( 2 ),
		&.is-style-first-col-to-third .wp-block-column:nth-child( 3 ) {
			order: -1;
		}
	}

	&.is-style-borders {
		> .wp-block-column {
			position: relative;
			margin-bottom: 64px;

			&:last-child {
				margin-bottom: 0;
			}

			&::after {
				border: 0 solid $color__border;
				border-top-width: 1px;
				bottom: -32px;
				content: '';
				left: 0;
				position: absolute;
				right: 0;
			}

			&:last-child::after {
				display: none;
			}

			@include media( mobile ) {
				margin-bottom: 0;

				&::after {
					border-right-width: 1px;
					border-top-width: 0;
					bottom: 0;
					left: auto;
					right: -16px;
					top: 0;
				}
			}
		}
	}

	&.is-not-stacked-on-mobile {
		> .wp-block-column,
		> .wp-block-column:not( :first-child ),
		> .wp-block-column:nth-child( 2n ) {
			margin: 0 16px;
		}

		&.is-style-borders > .wp-block-column {
			&::after {
				border-right-width: 1px;
				border-top-width: 0;
				bottom: 0;
				left: auto;
				right: -16px;
				top: 0;
			}
		}
	}

	&:not( .is-not-stacked-on-mobile ) {
		> .wp-block-column {
			margin-bottom: 32px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&.is-style-borders {
			> .wp-block-column {
				margin-bottom: 64px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		@include media( mobile ) {
			&.is-style-borders > .wp-block-column,
			> .wp-block-column,
			> .wp-block-column:not( :first-child ),
			> .wp-block-column:nth-child( 2n ) {
				margin: 0 16px;
			}
		}
	}

	&:not( .is-not-stacked-on-mobile ),
	&.is-not-stacked-on-mobile {
		&.is-style-borders {
			@include media( tablet ) {
				margin-left: -24px;
				max-width: calc( 100% + 48px );
				width: calc( 100% + 48px );

				> .wp-block-column,
				> .wp-block-column:not( :first-child ),
				> .wp-block-column:nth-child( 2n ) {
					margin-left: 24px;
					margin-right: 24px;

					&::after {
						right: -24px;
					}
				}
			}

			@include media( desktop ) {
				margin-left: -32px;
				max-width: calc( 100% + 64px );
				width: calc( 100% + 64px );

				> .wp-block-column,
				> .wp-block-column:not( :first-child ),
				> .wp-block-column:nth-child( 2n ) {
					margin-left: 32px;
					margin-right: 32px;

					&::after {
						right: -32px;
					}
				}
			}
		}
	}
}
