.wp-block-newspack-blocks-fast-checkout-grouped-selector {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	border: 1px solid var(--wp--preset--color--secondary, #ddd);
	padding: 0.75em 1em;

	label {
		display: flex;
		align-items: center;
		gap: 0.6em;
		cursor: pointer;

		.price {
			margin-left: auto;
			font-weight: 600;
		}
	}

	.wp-block-newspack-blocks-fast-checkout-grouped-selector__notice {
		color: var(--wp--preset--color--vivid-red, #cc1818);
		font-size: 0.875em;
	}
}
