$primary_color: #36f;

.wp-block-newspack-blocks-donate button[type='submit'] {
	background: $primary_color;
	border: none;
	border-radius: 5px;
	box-sizing: border-box;
	color: $muriel-white;
	font-weight: bold;
	outline: none;
	line-height: 3em;
	padding-left: 20px;
	padding-right: 20px;
}
