@use '../../shared/sass/colors';
@use '../../shared/sass/variables';

@use 'streamlined/style.scss';

.wp-block-newspack-blocks-donate {
	&__tier--frequency {
		position: relative;
	}

	&__panel-inputs {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 21px;
		input,
		span {
			min-width: 0;
		}
		span {
			margin-bottom: 7px;
			display: inline-block;
			width: 48%;
		}
		input {
			max-width: 100%;
		}
	}

	button[type='submit'] {
		border: none;
		border-radius: 5px;
		box-sizing: border-box;
		color: colors.$color__background-body;
		font-size: variables.$font__size-sm;
		font-weight: bold;
		outline: none;
		line-height: 3;
		padding-left: 20px;
		padding-right: 20px;
	}
	.stripe-payment {
		&__methods {
			> * {
				line-height: 46px !important;
			}
		}
		&__request-button {
			display: flex;
			align-items: center;
			gap: 0.8em;
			font-size: 0.8em;
			border-radius: 5px;
			color: colors.$color__secondary;
			border: colors.$color__secondary 1px dashed;
			padding: 0 20px;
			opacity: 0.5;
			.components-base-control__field {
				margin: 0;
			}
		}
	}
}

.wp-block-newspack-blocks-donate.wpbnbd.tiered {
	.tiers {
		input.frequency-input {
			~ input[type='number'] {
				position: absolute;
				max-width: 81px;
				top: -31px;
				z-index: 9;
				left: 5px;
				display: none;
			}

			&:checked ~ input[type='number'] {
				display: flex;
			}
		}
	}
}

.block-editor-block-list__layout
	.block-editor-block-list__block
	.wp-block-newspack-blocks-donate.tiered.is-style-minimal
	.wp-block-newspack-blocks-donate__tiers
	input[type='radio']:checked
	+ .tier-select-label {
	background: transparent;
	color: colors.$color__text-main;
}

.components-frequency-donations {
	p {
		margin-bottom: 8px;
	}

	.components-base-control {
		margin-bottom: 0;

		&:last-child {
			margin-bottom: 0;

			.components-base-control__field {
				margin-bottom: 0;
			}
		}
	}
}
