@import "../../shared/sass/colors";

.wp-block-newspack-blocks-donate button[type='submit'] {
	background: $color__primary;
	border: none;
	border-radius: 5px;
	box-sizing: border-box;
	color: $color__background-body;
	font-weight: bold;
	outline: none;
	line-height: 3em;
	padding-left: 20px;
	padding-right: 20px;
}
