@import '../../shared/sass/colors';
@import '../../shared/sass/mixins';
@import '../../shared/sass/variables';

.wpbnbd {
	background: $color__background-body;
	border: 1px solid $color__border;
	color: $color__text-main;
	position: relative;
	width: 100%;

	button[type='submit'] {
		background: $color__secondary;
		border: none;
		border-radius: 5px;
		box-sizing: border-box;
		color: $color__background-body;
		font-size: $font__size-sm;
		font-weight: bold;
		outline: none;
		line-height: 3em;
		margin: 0 1.5rem 1.5rem;
		padding-left: 20px;
		padding-right: 20px;
	}

	input[type='radio'] {
		display: none;
	}

	.donation-frequency-label,
	.tier-select-label {
		cursor: pointer;
		display: block;
		font-size: $font__size-sm;
		font-weight: bold;
		text-align: center;
	}

	.wp-block-newspack-blocks-donate__thanks {
		color: $color__text-light;
		font-size: $font__size-sm;
		margin: 0 1.5rem 0.76rem;
	}
}

.wpbnbd.tiered {
	.wp-block-newspack-blocks-donate__tiers {
		margin: 1.12rem 1.12rem 0;
		display: none;

		.tier-select-label {
			border: 1px solid $color__border;
			border-radius: 5px;
			cursor: default;
			display: block;
			font-size: $font__size-sm;
			font-weight: bold;
			line-height: $font__line-height-heading;
			margin: 0.38rem;
			padding: 0.76rem 1rem;

			&:hover {
				background: transparent;
			}
		}

		input[type='radio']:checked {
			+ .tier-select-label {
				background-color: $color__primary;
				border-color: transparent;
				color: $color__background-body;
			}
		}

		.other-donate-label {
			position: absolute;
			left: 1.5rem;
			top: 7rem;
		}

		input.other-input {
			~ .wp-block-newspack-blocks-donate__money-input,
			~ .other-donate-label {
				display: none;
			}

			&:checked ~ .wp-block-newspack-blocks-donate__money-input,
			&:checked ~ .other-donate-label {
				display: block;
			}

			&:checked + label {
				margin-bottom: 5rem;
			}
		}
	}

	.wp-block-newspack-blocks-donate__money-input {
		position: absolute;
		left: 1.5rem;
		top: 9.26rem;
	}
}

.wpbnbd.untiered {
	padding-top: 6.8rem;

	@include media( tablet ) {
		padding-top: 2.4rem;
	}

	.input-container {
		margin: 1.5rem 1.5rem 0.76rem;
		display: none;

		label {
			color: $color__text-main;
		}
	}

	input[type='radio']:checked ~ .input-container {
		display: block;
	}
}

.wp-block-newspack-blocks-donate__money-input {
	position: relative;
	max-width: 200px;
	background-color: $color__background-input;
	border-radius: 3px;
	border: 1px solid $color__border;

	&:focus-within {
		border-color: $color__text-input-focus;
		outline: thin solid rgba( $color__text-input-focus, 0.15 );
		outline-offset: -4px;
	}

	.currency {
		font-size: 16px;
		padding-left: 0.5em;
		cursor: default;
	}

	input[type='number'] {
		font-size: 16px;
		border: none;
		outline: none;
		box-shadow: none;
		background: none;
		max-width: 174px;

		&:focus {
			border: none;
			outline: none;
			box-shadow: none;
		}
	}
}

.wp-block-newspack-blocks-donate__frequencies {
	position: relative;
	padding-top: 6.8rem;

	@include media( tablet ) {
		padding-top: 2.4rem;
	}
}

.wp-block-newspack-blocks-donate__frequency {
	.donation-frequency-label {
		border: 0 solid $color__border;
		border-width: 0 0 1px;
		color: $color__text-light;
		left: 0;
		padding: 0.38rem 1.5rem;
		position: absolute;
		text-align: left;
		text-transform: uppercase;
		top: 0;
		width: 100%;

		@include media( tablet ) {
			width: 33.33%;
			text-align: center;
		}

		&:hover {
			background: $color__background-screen;
			color: inherit;
		}
	}

	input[type='radio']:checked {
		+ .donation-frequency-label {
			color: inherit;

			@include media( tablet ) {
				border-bottom-color: transparent;
			}

			&:hover {
				background: transparent;
			}
		}

		~ .wp-block-newspack-blocks-donate__tiers {
			display: flex;
			flex-wrap: wrap;
		}
	}

	&:nth-of-type( 2 ) .donation-frequency-label {
		top: 2.22rem;

		@include media( tablet ) {
			border-left-width: 1px;
			border-right-width: 1px;
			left: 33.33%;
			top: 0;
		}
	}

	&:nth-of-type( 3 ) .donation-frequency-label {
		top: 4.44rem;

		@include media( tablet ) {
			left: 66.66%;
			top: 0;
		}
	}
}
