@import '../../shared/sass/colors';
@import '../../shared/sass/mixins';
@import '../../shared/sass/variables';

.wp-block-newspack-blocks-donate {
	.stripe-payment {
		&__card {
			border: 1px solid #ccc;
			padding: 10px;
		}
		input,
		&__messages {
			width: 100%;
			font-size: 14px;
			margin-top: 11px;
		}
		&__messages {
			> div {
				padding: 4px 10px;
				border-radius: 3px;
				&:empty {
					padding: 0;
				}
				&.type-error {
					background-color: $color__error;
				}
				&.type-success {
					background-color: $color__success;
				}
				&.type-info {
					background-color: $color__info;
				}
			}
		}

		&--disabled {
			button,
			input {
				pointer-events: none;
				opacity: 0.4;
			}
		}
	}

	&__stripe {
		margin: 0.38rem 0.76rem 0.76rem;

		@include media( tablet ) {
			margin-left: 1.5rem;
			margin-right: 1.5rem;
		}
		&--editor {
			input:first-child {
				margin-top: 0;
			}
		}
	}
}
