$primary_color: #2A7DE1;

.newspack-blocks-donate {
	position: relative;
	width: 100%;
	background-color: $muriel-gray-0;
	font-size: 14px;

	input[type='radio'] {
		display: none;
	}

	.donation-frequency-label,
	.tier-select-label {
		text-align: center;
		display: block;
		background-color: $muriel-white;
		line-height: 3em;
		font-weight: bold;
		cursor: pointer;
	}

	button[type='submit'] {
		margin-bottom: 2em;
		font-size: 16px;
		margin-left: 24px;
	}
}

.newspack-blocks-donate.tiered {
	.newspack-blocks-donate__tiers {
		margin-top: 2em;
		display: none;

		.tier-select-label {
			border: 1px solid $muriel-gray-200;
			border-radius: 3px;
			font-size: 16px;
			margin-left: 25px;
			padding-left: 1em;
			padding-right: 1em;
		}

		input[type='radio']:checked {
			& + .tier-select-label {
				color: $muriel-white;
				background-color: $primary_color;
			}
		}

		.other-donate-label {
			position: absolute;
			top: 10em;
			left: 2em;
			color: $muriel-gray-300;
		}

		input.other-input {
			& ~ .newspack-blocks-donate__money-input,
			& ~ .other-donate-label {
				display: none;
			}

			&:checked ~ .newspack-blocks-donate__money-input,
			&:checked ~ .other-donate-label {
				display: block;
			}

			&:checked + label {
				margin-bottom: 6em;
			}
		}
	}

	.newspack-blocks-donate__money-input {
		position: absolute;
		top: 12em;
		left: 24px;
	}
}

.newspack-blocks-donate.untiered {
	padding-top: 3em;

	.input-container {
		margin-left: 2em;
		margin-top: 2em;
		display: none;

		label {
			color: $muriel-gray-300;
		}
	}

	input[type='radio']:checked ~ .input-container {
		display: block;
	}
}

.newspack-blocks-donate__money-input {
	position: relative;

	.currency {
		position: absolute;
		top: 9px;
		left: 1em;
		font-size: 16px;
	}

	input[type='number'] {
		font-size: 16px;
		border: 2px solid $primary_color;
		border-radius: 3px;
		padding-left: 2em;
	}
}

.newspack-blocks-donate__frequencies {
	position: relative;
	padding-top: 3em;
}

.newspack-blocks-donate__frequency {
	.donation-frequency-label {
		width: 33.333%;
		position: absolute;
		top: 0;
		border: 1px solid $muriel-gray-400;
		text-transform: uppercase;
		color: $muriel-gray-500;
	}

	input[type='radio']:checked {
		& + .donation-frequency-label {
			color: $muriel-white;
			background-color: $muriel-gray-500;
		}

		& ~ .newspack-blocks-donate__tiers {
			display: flex;
		}
	}

	&:nth-of-type(2) .donation-frequency-label {
		left: 33.333%;
		border-left: none;
		border-right: none;
	}

	&:nth-of-type(3) .donation-frequency-label {
		left: 66.666%;
	}
}

.newspack-blocks-donate__thanks {
	margin-left: 2em;
}

@media screen and (max-width: 600px) {
	.newspack-blocks-donate__tiers {
		justify-content: space-around;

		.tier-select-label {
			margin-left: 0;
			border-radius: 0;
			font-size: 12px;
		}

		.other-donate-label {
			top: 8.5em;
		}

		.newspack-blocks-donate__money-input {
			top: 10.5em;
		}
	}
}