@import '../../shared/sass/colors';
@import '../../shared/sass/mixins';
@import '../../shared/sass/variables';

.wp-block-newspack-blocks-donate {
	&__tab-list {
		align-items: flex-end;
		color: $color__text-light;
		display: flex;
		flex-wrap: wrap;
		font-size: $font__size-sm;
		font-weight: bold;
		justify-content: center;
		text-transform: uppercase;

		@include media( tablet ) {
			flex-wrap: nowrap;
		}

		div {
			background: $color__background-body;
			border: 1px solid $color__border;
			border-bottom-width: 0;
			padding: 0.38rem 1.5rem;
			width: 100%;
			z-index: 1;

			@include media( tablet ) {
				border-bottom-width: 1px;
				text-align: center;
			}

			&:focus,
			&:hover {
				background: $color__background-screen;
				color: $color__text-main;
				outline: 0;
			}

			&[option][selected] {
				background: $color__background-body;
				color: $color__text-main;
				display: flex;
				justify-content: space-between;
				outline: 0;

				@include media( tablet ) {
					border-bottom-color: $color__background-body;
					display: block;
				}

				&:after {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M16.59 7.58L10 14.17l-3.59-3.58L5 12l5 5 8-8zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z' fill='%23111111'/%3E%3C/svg%3E");
					content: "";
					display: block;
					height: 24px;
					width: 24px;

					@include media( tablet ) {
						display: none;
					}
				}
			}

			&:last-of-type {
				border-bottom-width: 1px;
			}

			@include media( tablet ) {
				&:nth-of-type(2) {
					border-left: 0;
					border-right: 0;
				}
			}
		}
	}

	&__tab-panel {
		background: $color__background-body;
		border: 1px solid $color__border;
		color: $color__text-main;
		margin-top: -1px;
		padding: 1.5em;
	}

	&__panel {
		display: none;
		flex-wrap: wrap;
		margin: -0.38rem;
		width: calc( 100% + 0.76rem );

		&[option][selected] {
			display: flex;
			outline: 0;
		}
	}

	input[type='radio'] {
		display: none;
	}

	.tier-select-label {
		border: 1px solid $color__border;
		border-radius: 5px;
		cursor: pointer;
		display: block;
		font-size: $font__size-sm;
		font-weight: bold;
		line-height: $font__line-height-heading;
		margin: 0.38rem;
		padding: 0.76rem 1rem;

		&:hover {
			background: $color__background-screen;
		}
	}

	input[type='radio']:checked + .tier-select-label {
		background-color: $color__primary;
		border-color: transparent;
		color: $color__background-body;
	}

	&__other {
		display: none;
		flex: 0 0 100%;
		margin: 0.38rem;

		label {
			display: block;
		}
	}

	input.other-input:checked ~ &__other {
		display: block;
	}

	&__thanks {
		color: $color__text-light;
		font-size: $font__size-sm;
		margin: 0.76rem 0;
	}
}
