@use '../../shared/sass/colors';
@use '../../shared/sass/mixins';
@use '../../shared/sass/variables';

.wpbnbd {
	background: colors.$color__background-body;
	border: 1px solid variables.$color__border;
	color: colors.$color__text-main;
	position: relative;
	width: 100%;

	input[type='radio'] {
		left: -99999em;
		position: absolute;
	}

	input[readonly] {
		background-color: colors.$color__background-screen;
		color: #666;
	}

	.freq-label,
	.tier-label,
	.input-container {
		display: block;
		font-weight: bold;
		cursor: pointer;
	}

	.freq-label {
		background: colors.$color__background-body;
		box-sizing: border-box;
		color: colors.$color__text-light;
		line-height: variables.$font__line-height-body;
		overflow: hidden;
		padding: 0.38rem 0.76rem;
		text-overflow: ellipsis;
		text-transform: uppercase;
		white-space: nowrap;
		width: 100%;
		z-index: 1;

		@include mixins.media( tablet ) {
			text-align: center;
		}

		&:focus,
		&:hover {
			background: colors.$color__background-screen;
			color: colors.$color__text-main;
		}
	}

	button {
		margin: 0 0.76rem 0.76rem;

		@include mixins.media( tablet ) {
			margin: 0 1.5rem 1.5rem;
		}
	}

	.thanks {
		color: colors.$color__text-light;
		font-size: variables.$font__size-sm;
		margin: 0.38rem 0.76rem 0.76rem;

		@include mixins.media( tablet ) {
			margin-left: 1.5rem;
			margin-right: 1.5rem;
		}
	}
}

.wpbnbd.tiered {
	.tiers {
		margin: 0.38rem;
		display: none;
		flex-wrap: wrap;
		position: relative;

		@include mixins.media( tablet ) {
			margin: 1.12rem 1.12rem 0.38rem;
		}

		.tier-label {
			border: 1px solid variables.$color__border;
			border-radius: 5px;
			margin: 0.38rem;
			padding: 0.38rem 0.76rem;

			&:hover {
				background: colors.$color__background-screen;
			}
		}

		input[type='radio'] {
			&:focus + .tier-label {
				background: colors.$color__background-screen;
				outline: 1px dotted currentcolor;
				outline-offset: -4px;
			}

			&:checked + .tier-label {
				background-color: colors.$color__primary;
				border-color: transparent;
				color: colors.$color__background-body;
			}
		}

		// other-donate-label
		.odl {
			font-weight: bold;
			left: 0.38rem;
			position: absolute;
			bottom: calc( 1.6em + 1.1rem + 2px );
		}

		input.other-input {
			~ .money-input,
			// other-donate-label
			~ .odl {
				display: none;
			}

			&:checked ~ .money-input {
				display: flex;
			}

			&:checked ~ .odl {
				display: block;
			}

			&:checked + label {
				margin-bottom: calc( 3.2em + 1.86rem + 2px );
			}
		}
	}

	.money-input {
		bottom: 0.38rem;
		left: 0.38rem;
		position: absolute;
	}
}

.wpbnbd.untiered {
	.input-container {
		margin: 0.76rem;
		display: none;

		@include mixins.media( tablet ) {
			margin: 1.5rem 1.5rem 0.76rem;
		}
	}

	input[type='radio']:checked ~ .input-container {
		display: block;
	}
}

.wpbnbd .money-input {
	display: flex;
	align-items: center;
	position: relative;
	max-width: 200px;
	background-color: colors.$color__background-input;
	border-radius: 3px;
	border: 1px solid variables.$color__border;

	&:focus-within {
		border-color: colors.$color__text-input-focus;
		outline: thin solid rgba( colors.$color__text-input-focus, 0.15 );
		outline-offset: -4px;
	}

	.currency {
		cursor: default;
		font-size: variables.$font__size-sm;
		padding-left: 0.5em;
	}

	input[type='number'] {
		border: none;
		outline: none;
		box-shadow: none;
		background: none;
		max-width: 174px;

		&:focus {
			border: none;
			outline: none;
			box-shadow: none;
		}
	}
}

.wpbnbd .frequencies {
	font-size: variables.$font__size-sm;
	padding-top: 7.65em;
	position: relative;

	@include mixins.media( tablet ) {
		padding-top: calc( 0.76rem + 1.6em + 1px ) !important;
	}
}

.wpbnbd .frequency {
	.freq-label {
		align-items: center;
		border: 0 solid variables.$color__border;
		border-width: 0 0 1px;
		display: flex;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;

		&::before {
			border: 2px solid currentcolor;
			border-radius: 100%;
			content: '';
			display: block;
			height: 20px;
			padding: 3px;
			margin-right: 0.25rem;
			width: 20px;
		}

		@include mixins.media( tablet ) {
			justify-content: center;

			&::before {
				display: none;
			}
		}
	}

	input[type='radio'] {
		&:checked {
			+ .freq-label {
				color: inherit;

				&::before {
					background: colors.$color__text-main;
					background-clip: content-box;
				}

				@include mixins.media( tablet ) {
					border-bottom-color: transparent;
				}

				&:hover {
					background: colors.$color__background-body;
				}
			}

			~ .tiers {
				display: flex;
			}
		}

		&:focus + .freq-label {
			text-decoration: underline;
			text-decoration-style: dotted;
			text-decoration-thickness: 1px;
		}
	}

	&:nth-of-type( 2 ) .freq-label {
		top: calc( 0.76rem + 1.6em + 1px );
	}

	&:nth-of-type( 3 ) .freq-label {
		top: calc( 2 * ( 0.76rem + 1.6em + 1px ) );

		@include mixins.media( tablet ) {
			left: 66.66%;
			top: 0;
		}
	}
}

@include mixins.media( tablet ) {
	.wpbnbd-frequencies {
		&--2 {
			&.wpbnbd .frequency {
				.freq-label {
					width: 50%;
				}
				&:nth-of-type( 2 ) .freq-label {
					border-left-width: 1px;
					left: 50%;
					top: 0;
				}
			}
		}

		&--3 {
			&.wpbnbd .frequency {
				.freq-label {
					width: 33.33%;
				}
				&:nth-of-type( 2 ) .freq-label {
					border-left-width: 1px;
					border-right-width: 1px;
					left: 33.33%;
					top: 0;
				}
			}
		}
	}
}

/* Alternate Style */

.wpbnbd.is-style-alternate {
	border-color: colors.$color__background-screen;
	border-radius: 5px;

	.thanks {
		margin: 1.12rem;
	}

	.money-input {
		max-width: 100%;

		input[type='number'] {
			max-width: 100%;
			width: 100%;
		}
	}

	&.untiered {
		.input-container {
			margin: 1.12rem;
		}
	}

	&.tiered {
		.tiers {
			.tier-label {
				background: colors.$color__background-screen;
				border-color: colors.$color__background-screen;
				margin: 0;
				text-align: center;
			}
		}

		.money-input {
			bottom: 0;
			left: 0;
			right: 0;
		}
	}

	.frequencies {
		@include mixins.media( tablet ) {
			padding-top: calc( 1.14rem + 1.6em + 4px );
		}
	}

	.frequency {
		.freq-label {
			background: colors.$color__background-screen;
			border-color: colors.$color__background-screen;
			border-width: 1px;
			padding: calc( 0.57rem + 1px ) 0.76rem;

			&::before {
				display: none;
			}
		}

		&:nth-of-type( 2 ) .freq-label {
			top: calc( 1.14rem + 1.6em + 2px );

			@include mixins.media( tablet ) {
				top: 0;
			}
		}

		&:nth-of-type( 3 ) .freq-label {
			top: calc( 2 * ( 1.14rem + 1.6em + 2px ) );

			@include mixins.media( tablet ) {
				top: 0;
			}
		}

		input[type='radio']:checked {
			+ .freq-label {
				&::after {
					box-sizing: content-box;
					background: white;
					border-radius: 5px;
					bottom: 0.19rem;
					border: 0.19rem solid white;
					box-shadow: 0 0 0 1px variables.$color__border;
					content: '';
					display: block;
					left: 0.19rem;
					position: absolute;
					right: 0.19rem;
					top: 0.19rem;
					z-index: -1;
				}

				&:hover {
					background: colors.$color__background-screen;
				}
			}

			~ .tiers {
				display: grid;
				grid-gap: 0.28rem;
				grid-template-columns: repeat( 4, 1fr );
				margin: 1.12rem;

				@include mixins.media( mobile ) {
					grid-gap: 0.56rem;
				}
			}
		}
	}

	button {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		margin: 0 -1px -1px;
		width: calc( 100% + 2px );
	}
}

/* Minimal Style */

.wpbnbd.is-style-minimal {
	border: none;

	form {
		text-align: center;
	}

	.thanks {
		margin: 1.12rem 0;
	}

	.money-input {
		max-width: 100%;

		input[type='number'] {
			max-width: 100%;
			width: 100%;
		}
	}

	&.untiered {
		.input-container {
			margin: 0.56rem 0 1.12rem;
			text-align: left;
		}
	}

	&.tiered {
		.tiers {
			.tier-label {
				align-items: center;
				display: grid;
				background: transparent;
				border: none;
				color: colors.$color__text-light;
				font-family: inherit;
				font-weight: inherit;
				grid-gap: 0.25rem;
				grid-template-columns: auto 1fr;
				margin: 0;
				padding: 0;
				text-align: left;

				&::before {
					background: white;
					border: 1px solid variables.$color__border;
					border-radius: 100%;
					box-shadow: inset 0 0 0 3px white;
					content: '';
					display: block;
					height: 20px;
					padding: 3px;
					width: 20px;
				}

				&:hover {
					color: inherit;
				}
			}

			input[type='radio']:checked + .tier-select-label {
				background: none;
				color: inherit;

				&::before {
					background: currentcolor;
				}
			}
		}

		.money-input {
			bottom: 0;
			left: 0;
			right: 0;
		}
	}

	.frequencies {
		padding-top: calc( 3 * ( 0.76rem + 1.6em + 4px ) );

		@include mixins.media( tablet ) {
			padding-top: calc( 0.76rem + 1.6em + 4px );
		}
	}

	.frequency {
		.freq-label {
			background: transparent;
			border: none;
			box-shadow: 0 3px 0 white, 0 4px 0 0 variables.$color__border;
			padding: 0.38rem 0;
			transition: none;

			@include mixins.media( tablet ) {
				padding-left: 0.76rem;
				padding-right: 0.76rem;
			}

			&::before {
				border-width: 1px;
				border-color: variables.$color__border;
			}
		}

		&:nth-of-type( 2 ) .freq-label {
			top: calc( 0.76rem + 1.6em + 4px );

			@include mixins.media( tablet ) {
				top: 0;
			}
		}

		&:nth-of-type( 3 ) .freq-label {
			top: calc( 2 * ( 0.76rem + 1.6em + 4px ) );

			@include mixins.media( tablet ) {
				top: 0;
			}
		}

		input[type='radio']:checked {
			+ .freq-label {
				box-shadow: 0 4px 0 currentcolor;
			}

			~ .tiers {
				display: flex;
				flex-wrap: wrap;
				grid-gap: 1.12rem;
				justify-content: center;
				margin: 1.12rem 0;

				@include mixins.media( mobile ) {
					display: grid;
					grid-gap: 0.56rem;
					grid-template-columns: repeat( 4, 1fr );
				}
			}
		}
	}

	button {
		margin: 0 auto;
		min-width: 50%;
	}
}
