@import '../../shared/sass/colors';
@import '../../shared/sass/variables';

.wp-block-newspack-blocks-donate {
	&__tab-list {
		align-items: center;
		color: $color__text-light;
		display: flex;
		font-size: $font__size-sm;
		font-weight: bold;
		justify-content: center;
		text-transform: uppercase;

		div {
			background: $color__background-body;
			border: 1px solid transparent;
			border-bottom-color: $color__border;
			padding: 0.375rem;
			text-align: center;
			width: 33.33%;
			z-index: 1;

			&:focus,
			&:hover {
				background: $color__background-screen;
				color: $color__text-main;
				outline: 0;
			}

			&[option][selected] {
				background: $color__background-body;
				border-color: $color__border;
				border-bottom-color: $color__background-body;
				color: $color__text-main;
				outline: 0;
			}
		}
	}

	&__tab-panel {
		border: 1px solid $color__border;
		margin-top: -1px;
		padding: 1.5em;
	}

	&__panel {
		display: none;
		flex-wrap: wrap;
		margin: 0 -0.38rem;
		width: calc(100% + 0.76rem);

		&[option][selected] {
			display: flex;
			outline: 0;
		}
	}

	input[type='radio'] {
		display: none;
	}

	.tier-select-label {
		border: 1px solid $color__border;
		border-radius: 5px;
		cursor: pointer;
		display: block;
		font-size: $font__size-sm;
		font-weight: bold;
		line-height: $font__line-height-heading;
		margin: 0 0.38rem;
		padding: 0.76rem 1rem;

		&:hover {
			background: $color__background-screen;
		}
	}

	input[type='radio']:checked + .tier-select-label {
		background-color: $color__primary;
		border-color: transparent;
		color: $color__background-body;
	}

	.wp-block-newspack-blocks-donate__other {
		display: none;
		flex: 0 0 100%;
		margin: 0.76rem 0.38rem 0;

		.other-donate-label {
			display: block;
		}
	}

	.wp-block-newspack-blocks-donate__thanks {
		margin: 0.76rem 0;
	}

	input.other-input:checked ~ .wp-block-newspack-blocks-donate__other {
		display: block;
	}
}
