.wp-block-newspack-blocks-query {
	&.is-editing article {
		/* opacity: 0.2; */
		&.is-editing {
			opacity: 1;
		}
	}

	.edit-post-visual-editor, .block-editor-writing-flow__click-redirect {
		height: auto;
	}

	/* Categories */
 	.article-section-categories {
		.cat-links {
			&:before {
				content: ", ";
			}

			&:first-of-type:before {
				content: "";
			}
		}
	}
}
