.wp-block-newspack-blocks-query {
	> article {
		padding: 14px;
	}

	.edit-post-visual-editor, .block-editor-writing-flow__click-redirect {
		height: auto;
	}

	/* Categories, Tags */
	.cat-links,
 	.tags-links {
 		span {
			&:before {
				content: ", ";
			}

			&:first-of-type:before {
				content: "";
			}
		}
	}
}
