.wp-block-newspack-blocks-query {
	> article {
		padding: 14px;
	}

	.block-editor-writing-flow__click-redirect {
		display: none;
	}

	/* Categories, Tags */
	.cat-links,
	.tags-links {
		span {
			&:before {
				content: ', ';
			}

			&:first-of-type:before {
				content: '';
			}
		}
	}
}
