@import "field-blocks/author/author";
@import "field-blocks/date/date";

.wp-block-newspack-blocks-query {
	.entry-wrapper {
		margin-bottom: 1.5em;

		&:last-of-type {
			margin-bottom: 0;
		}

		> * {
			margin-bottom: 0.75em;
			margin-top: 0.75em;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		> span {
			display: inline-block;
		}
	}
}
