@use '~@wordpress/base-styles/colors';

.editor-styles-wrapper {
	.block-editor-block-patterns-list__item {
		.block-editor-block-preview__container {
			max-height: 316px;
			overflow: hidden;
		}
	}

	.newspack-blocks-placeholder-block {
		background-color: white;
		border-radius: 2px;
		box-shadow: inset 0 0 0 1px colors.$gray-900;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
			Cantarell, 'Helvetica Neue', sans-serif;
		margin-top: 0;
		padding: 1em;
		p {
			font-size: 13px;
		}
		&__label {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			font-size: 18pt;

			svg {
				display: block;
				fill: currentcolor;
				margin-right: 1ch;
			}
		}
		&__buttons {
			display: flex;
			flex-wrap: wrap;
			gap: 16px;

			.components-button {
				margin: 0;

				&.is-primary {
					color: white;
				}
			}
		}
	}
}
