@use '../../../shared/sass/colors';
@use '../../../shared/sass/mixins';
@use '../../../shared/sass/variables';

/* Default Style */

.wpbnbd.is-style-default {
	.wpbnbd {
		&__button {
			padding: 0.38rem 0.76rem;
			&:focus,
			&:hover {
				background: colors.$color__background-screen;
			}
		}
		&__tiers {
			&__selection {
				> button {
					flex: 1;
				}
			}
		}
	}

	&.wpbnbd--frequency-based {
		.wpbnbd__button {
			border-width: 0 0 1px;
			&--active {
				background: #fff;
				border-bottom: 0;
			}
		}
	}

	&.wpbnbd-frequencies {
		&--2 .tab-container .freq-label:nth-of-type( 2 ) {
			border-left-width: 1px;
		}
		&--3 .tab-container .freq-label:nth-of-type( 2 ) {
			border-left-width: 1px;
			border-right-width: 1px;
		}
	}
}

/* Alternate Style */

.wpbnbd.is-style-alternate {
	border-color: colors.$color__background-screen;
	border-radius: 5px;

	.thanks {
		margin: 1.12rem;
	}

	.money-input {
		max-width: 100%;

		input[type='number'] {
			max-width: 100%;
			width: 100%;
		}
	}

	&.untiered {
		.input-container {
			margin: 1.12rem;
		}
	}

	&.tiered {
		.tiers {
			.tier-label {
				background: colors.$color__background-screen;
				border-color: colors.$color__background-screen;
				margin: 0;
				text-align: center;
			}
		}

		.money-input {
			bottom: 0;
			left: 0;
			right: 0;
		}
	}

	.tab-container .freq-label,
	.wpbnbd__tiers__selection {
		background: colors.$color__background-screen;
		border-color: colors.$color__background-screen;
	}

	.wpbnbd__tiers__selection {
		width: min-content;
		margin-left: auto;
		margin-right: auto;
		padding: 5px;
		border-radius: 5px;
		.wpbnbd__button {
			color: colors.$color__text-main;
			padding: 0 15px;
		}
	}

	// Tiers-based version.
	.wpbnbd__tiers .wpbnbd__button {
		border: 0.19rem solid transparent;

		&--active {
			border-color: white;
		}
	}

	.wpbnbd__tiers .wpbnbd__button--active,
	// Frequency-based version.
	.tab-container .freq-label.wpbnbd__button--active::after {
		background: white;
		border-radius: 5px;
		box-shadow: 0 0 0 1px variables.$color__border;
	}

	.tab-container {
		.freq-label {
			border-width: 1px;
			padding: calc( 0.57rem + 1px ) 0.5rem;
			position: relative;
			@include mixins.media( mobile ) {
				padding: calc( 0.57rem + 1px ) 0.76rem;
			}

			&.wpbnbd__button--active {
				color: colors.$color__text-main;
				&::after {
					box-sizing: content-box;
					content: '';
					display: block;
					inset: 0.19rem;
					position: absolute;
					z-index: -1;
				}
				&:hover {
					background: colors.$color__background-screen;
				}
			}
		}
	}

	// Show/hide the tab content.
	.frequencies input[type='radio']:checked ~ .tiers {
		display: grid;
		grid-gap: 0.28rem;
		grid-template-columns: repeat( 2, 1fr );
		margin: 1.12rem;

		@include mixins.media( mobile ) {
			grid-template-columns: repeat( 4, 1fr );
			grid-gap: 0.56rem;
		}
	}

	&.is-style-default {
		button {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			margin: 0 -1px -1px;
			width: calc( 100% + 2px );
		}
	}

	@include mixins.media( mobile ) {
		&.wpbnbd--nyp-disabled .frequencies input[type='radio']:checked ~ .tiers {
			grid-template-columns: repeat( 3, 1fr );
		}
	}
}

/* Minimal Style */

.wpbnbd.is-style-minimal {
	border: none;

	form {
		text-align: center;
	}

	.thanks {
		margin: 1.12rem 0;
	}

	.money-input {
		max-width: 100%;

		input[type='number'] {
			max-width: 100%;
			width: 100%;
		}
	}

	&.untiered {
		.input-container {
			margin: 0.56rem 0 1.12rem;
			text-align: left;
		}
	}

	// Tiers-based version.
	.wpbnbd__tiers {
		&__selection {
			.wpbnbd__button {
				position: relative;
				border: none;
				padding: 8px;
				min-width: 50%;
				&::after {
					position: absolute;
					content: '';
					display: block;
					height: 1px;
					background: variables.$color__border;
					width: 100%;
					left: 0;
					bottom: 0;
				}
				&--active {
					&::after {
						height: 3px;
						background: colors.$color__text-main;
					}
				}
			}
		}

		&__back-button {
			margin-bottom: 10px;
		}
	}

	&.tiered {
		.tiers {
			.tier-label {
				align-items: center;
				display: grid;
				background: transparent;
				border: none;
				color: colors.$color__text-light;
				font-family: inherit;
				font-weight: inherit;
				grid-gap: 0.25rem;
				grid-template-columns: auto 1fr;
				margin: 0;
				padding: 0;
				text-align: left;

				&::before {
					background: white;
					border: 1px solid variables.$color__border;
					border-radius: 100%;
					box-shadow: inset 0 0 0 3px white;
					content: '';
					display: block;
					height: 20px;
					padding: 3px;
					width: 20px;
				}

				&:hover {
					color: inherit;
				}
			}

			input[type='radio']:checked + .tier-select-label {
				background: none;
				color: inherit;

				&::before {
					background: currentcolor;
				}
			}
		}

		.money-input {
			bottom: 0;
			left: 0;
			right: 0;
		}
	}

	.tab-container {
		.freq-label {
			background: transparent;
			border: none;
			box-shadow: 0 3px 0 white, 0 4px 0 0 variables.$color__border;
			padding: 0.38rem 0;
			transition: none;

			@include mixins.media( tablet ) {
				padding-left: 0.76rem;
				padding-right: 0.76rem;
			}

			&::before {
				border-width: 1px;
				border-color: variables.$color__border;
			}

			&.wpbnbd__button--active {
				box-shadow: 0 4px 0 currentcolor;
			}
		}
	}

	.frequency {
		input[type='radio']:checked {
			~ .tiers {
				display: flex;
				flex-wrap: wrap;
				grid-gap: 1.12rem;
				justify-content: center;
				margin: 1.12rem 0;

				@include mixins.media( mobile ) {
					display: grid;
					grid-gap: 0.56rem;
					grid-template-columns: repeat( 4, 1fr );
				}
			}
		}
	}
	button[type='submit'] {
		margin: 0 auto;
		min-width: 50%;
	}

	@include mixins.media( mobile ) {
		&.wpbnbd--nyp-disabled .frequency input[type='radio']:checked ~ .tiers {
			grid-template-columns: repeat( 3, 1fr );
		}
	}
}
