@use '../../../shared/sass/colors';
@use '../../../shared/sass/variables';

@use './style-variations';

.wpbnbd {
	&__button,
	.tab-container .freq-label {
		border: 0 solid variables.$color__border;
		background: colors.$color__background-body;
		color: colors.$color__text-light;
		line-height: variables.$font__line-height-body;
		text-overflow: ellipsis;
		text-align: center;
		&--active,
		&:focus,
		&:hover {
			color: colors.$color__text-main;
		}
	}

	&__tiers__amount__value,
	.tier-frequency {
		font-size: 13px;
	}

	.woocommerce-Price-amount,
	.price-amount {
		display: inline;
		font-family: var(--newspack-theme-font-heading, sans-serif );
		font-size: 29px;
		font-weight: 700;
	}

	mark {
		background-color: transparent;
	}
}
