@import '../../shared/sass/variables';
@import '../../shared/sass/mixins';

.wp-block-newspack-blocks-carousel {
	article {
		max-width: 100%;
		padding: 0;
		position: relative;
		margin-bottom: 1.5em;
		word-break: break-word;
		overflow-wrap: break-word;
		.entry-title {
			font-size: 1.2em;
		}
		.entry-meta {
			font-size: 0.8em;
		}
		.avatar {
			height: 1.8em;
			width: 1.8em;
		}

		@include media( tablet ) {
			.entry-title {
				font-size: 1.6em;
			}
		}
		.entry-wrapper {
			position: absolute;
			bottom: 0;
			width: 100%;
			background-color: rgba( 0, 0, 0, 0.5 );
			color: white;
			padding: 1em;
		}
	}
	figure.post-thumbnail {
		margin: 0;
		height: 100%;
		padding: 0;
		img {
			height: auto;
			width: 100%;
			height: 100%;
		}
	}
	p {
		white-space: normal;
	}
	.swiper-pagination-bullets {
		bottom: 0;
		line-height: 24px;
		padding: 10px 0 2px;
		position: relative;
		text-align: center;
	}
	.swiper-pagination-bullet {
		background: black;
		display: inline-block;
		height: 16px;
		opacity: 0.5;
		transform: scale( 0.75 );
		transition: opacity 250ms, transform 250ms;
		width: 16px;
		border-radius: 100%;
		padding: 0;
		margin: 0 4px;
		&[selected] {
			opacity: 1;
			transform: scale( 1 );
		}
	}

	.amp-carousel-button {
		background-color: rgba( 0, 0, 0, 0.5 );
		background-position: center;
		background-repeat: no-repeat;
		background-size: 24px;
		border: 0;
		border-radius: 4px;
		box-shadow: none;
		height: 48px;
		margin: 0;
		padding: 0;
		transition: background-color 250ms;
		width: 48px;
		&:focus,
		&:hover {
			background-color: rgba( 0, 0, 0, 0.75 );
		}
		&:focus {
			outline: thin dotted white;
			outline-offset: -4px;
		}
	}
	.amp-carousel-button-next {
		background-image: url( "data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%3E%3Cpath%20d='M5.88%204.12L13.76%2012l-7.88%207.88L8%2022l10-10L8%202z'%20fill='white'/%3E%3Cpath%20fill='none'%20d='M0 0h24v24H0z'/%3E%3C/svg%3E" );
	}
	.amp-carousel-button-prev {
		background-image: url( "data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%3E%3Cpath%20d='M18%204.12L10.12%2012%2018%2019.88%2015.88%2022l-10-10%2010-10z'%20fill='white'/%3E%3Cpath%20fill='none'%20d='M0 0h24v24H0z'/%3E%3C/svg%3E" );
	}

	/* Image styles */

	figcaption {
		font-size: $font__size-xxs;
	}

	/* Headings */
	.entry-title {
		margin: 0 0 0.25em;
		a {
			color: inherit;
			text-decoration: none;
		}
	}

	/* Article meta */
	.entry-meta {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-top: 0.5em;

		.byline:not( :last-child ) {
			margin-right: 1.5em;
		}
	}

	.avatar {
		border-radius: 100%;
		display: block;
		margin-right: 0.5em;
	}
}
