@import '../../shared/sass/colors';
@import '../../shared/sass/placeholder';

.wpbnbvp::before {
	content: "";
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	z-index: 1;
}

.youtube-videos-manual-input .components-form-token-field__token-text {
	white-space: normal;
	text-overflow: inherit;
}