@use "~@wordpress/base-styles/colors" as wp-colors;

.autocomplete-tokenfield {
	max-width: 100%;
	position: relative;

	.components-spinner {
		position: absolute;
		top: 2em;
		right: 0;
	}

	/* Workaround for hard-coded help text in FormTokenField. */
	.components-form-token-field > .components-form-token-field__help {
		display: none;
	}

	.autocomplete-tokenfield__help {
		color: wp-colors.$gray-700;
		font-size: 12px;
		margin: 8px 0;
	}
}
