@import "../../shared/sass/variables";
@import "../../shared/sass/mixins";

.wp-block-newspack-blocks-post {
	article {
		margin-bottom: 1.5em;
		word-break: break-word;
		overflow-wrap: break-word;
	}

	/* Section header */
	.article-section-title {
		font-size: $font__size-sm;
		margin-bottom: 0.5em;
		width: 100%; // make sure this isn't caught up in the flex styles.
	}

	/* Image styles */

	.post-thumbnail {
		margin: 0;
	}

	&.image-alignleft,
	&.image-alignright {
		.post-has-image {
			display: flex;

			.post-thumbnail,
			.entry-wrapper {
				flex-basis: 50%;
			}
		}

		&.image-scale4 {
			.post-thumbnail {
				flex-basis: 75%;
			}
			.entry-wrapper {
				flex-basis: 25%;
			}
		}

		// .image-scale3 is the default - 50%

		&.image-scale2 {
			.post-thumbnail {
				flex-basis: 33%;
			}
			.entry-wrapper {
				flex-basis: 67%;
			}
		}

		&.image-scale1 {
			.post-thumbnail {
				flex-basis: 25%;
			}
			.entry-wrapper {
				flex-basis: 75%;
			}
		}
	}

	&.image-alignleft {
		.post-thumbnail {
			margin-right: 1em;
		}
	}

	&.image-alignright {
		.post-thumbnail {
			margin-left: 1em;
		}
		.entry-wrapper {
			order: -1;
		}
	}

	/* Headings */
	.entry-title {
		margin: 0 0 0.25em;
		a {
			color: inherit;
			text-decoration: none;
		}
	}

	/* Article meta */
	.entry-meta {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-top: 0.5em;

		.byline:not(:last-child) {
			margin-right: 1.5em;
		}
	}

	.avatar {
		border-radius: 100%;
		display: block;
		margin-right: 0.5em;
	}
	/* 'Normal' size */
	article {
		.entry-title {
			font-size: 1.2em;
		}
		.entry-meta {
			font-size: 0.8em;
		}
		.avatar {
			height: 1.8em;
			width: 1.8em;
		}

		@include media(tablet) {
			.entry-title {
				font-size: 1.6em;
			}
		}
	}

	&.type-scale8 article {
		.entry-title {
			font-size: 2.2em;
		}
		@include media(tablet) {
			.entry-title {
				font-size: 3.4em;
			}
			.avatar {
				height: 2.4em;
				width: 2.4em;
			}
		}
		@include media(desktop) {
			.entry-title {
				font-size: 4em;
			}
		}
	}

	&.type-scale7 article {
		.entry-title {
			font-size: 2em;
		}
		@include media( tablet) {
			.entry-title {
				font-size: 2.8em;
			}
			.avatar {
				height: 48px;
				width: 48px;
			}
		}
		@include media(desktop) {
			.entry-title {
				font-size: 3.4em;
			}
		}
	}

	&.type-scale6 article {
		.entry-title {
			font-size: 1.8em;
		}
		@include media(tablet) {
			.entry-title {
				font-size: 2.4em;
			}
			.avatar {
				height: 44px;
				width: 44px;
			}
		}
		@include media(desktop) {
			.entry-title {
				font-size: 3em;
			}
		}
	}

	&.type-scale5 article {
		.entry-title {
			font-size: 1.4em;
		}
		@include media(tablet) {
			.entry-title {
				font-size: 2.2em;
			}
			.avatar {
				height: 40px;
				width: 40px;
			}
		}
	}

	/* Type Scale 4: default */

	&.type-scale3 article {
		.entry-title {
			font-size: 1em;
		}
		.entry-wrapper p {
			font-size: 0.8em;
		}
		.entry-meta {
			font-size: 0.7em;
		}
		.avatar {
			height: 32px;
			width: 32px;
		}
		@include media(tablet) {
			.entry-title {
				font-size: 1.2em;
			}
		}
	}

	&.type-scale2 article {
		.entry-title {
			font-size: 0.9em;
			@include media(tablet) {
				font-size: 1em;
			}
		}
		.entry-wrapper p {
			font-size: 0.8em;
		}
		.entry-meta {
			font-size: 0.7em;
		}
		.avatar {
			height: 28px;
			width: 28px;
		}
	}

	&.type-scale1 article {
		.entry-title {
			font-size: 0.8em;
		}
		.entry-wrapper p,
		.entry-meta {
			font-size: 0.7em;
		}
		.avatar {
			height: 24px;
			width: 24px;
		}
	}
}

