@use '../shared/sass/boxes';
@use '../shared/sass/buttons';

#newspack_modal_checkout { /* stylelint-disable-line */
	padding: 24px;

	.order-review-wrapper.hidden {
		display: none;
	}
	/* Remove support for "Allow customers to log into an existing account during checkout" */
	.woocommerce-form-login-toggle {
		display: none;
	}
	/* Hide reCAPTCHA badge */
	.grecaptcha-badge {
		visibility: hidden !important;
	}

	/* Custom Gift Subscriptions form elements */
	.newspack-wcsg {
		&--gift-toggle {
			align-items: center;
			display: flex;
			font-weight: 700;

			.woocommerce-input-wrapper {
				line-height: 0.5;
				margin-right: 0.25rem;
			}
		}

		&--gift-email {
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.25s ease-in-out;
			visibility: hidden;

			&.visible {
				max-height: 100px;
				visibility: visible;
			}
		}
	}


	// Modal Checkout already has spacing to account for the header, so we need to remove it from the form.
	.woocommerce .order-details-summary {
		// Removes redundant margin from top of modal checkout form.
		h2 {
			margin-top: 0;
		}
	}
}
