#newspack_modal_checkout { /* stylelint-disable-line */
	padding: 24px;
	h3 {
		font-size: 16px;
		margin: 0 0 8px;
	}
	p {
		margin: 0 0 16px;
	}
	.woocommerce-message,
	.woocommerce-error,
	.woocommerce-info {
		border-radius: 6px;
		svg {
			display: none;
		}
		li {
			font-size: 14px;
		}
	}
	.woocommerce-info,
	.woocommerce-message {
		background-color: #f6f7f7;
		color: #757575;
	}
	.wc-block-components-notice-banner__content {
		font-size: 14px;
	}
	// Avoid duplicate styling when block components notice is inside the legacy
	// notice-group.
	.woocommerce-NoticeGroup .wc-block-components-notice-banner {
		background: transparent;
		border: 0;
		padding: 0 !important;
		margin: 0;
		color: inherit;
	}
	input[type='text'],
	input[type='email'],
	input[type='tel'],
	input[type='number'],
	input[type='password'],
	input[type='submit'],
	select,
	textarea {
		border-radius: 6px;
		padding: 12px 16px;
		font-size: 14px;
		line-height: 24px;
		border-color: #ddd;
		&:focus {
			box-shadow: 0 0 0 1px #36f inset;
		}
	}
	// Custom styles for Select2.
	.select2-container .select2-selection--single .select2-selection__rendered {
		padding-left: 16px;
		padding-right: 16px;
		font-size: 14px;
	}
	.select2-results {
		font-size: 14px;
	}
	.select2-dropdown,
	.woocommerce-checkout .select2-container--focus .select2-selection,
	.select2-container--default .select2-selection--single {
		border-color: #ddd;
	}
	input[type='checkbox'] {
		border-radius: 6px;
	}
	input[type='checkbox']:checked {
		background-color: var( --newspack-theme-color-primary );
		border-color: var( --newspack-theme-color-primary );
	}
	// Inline input validation
	.form-row .woocommerce-error {
		padding: 0;
		margin: 0.25rem 0 0;
		color: #cc1818;
		background: transparent;
		font-size: 14px;
	}
	.button {
		font-size: 14px;
		background-color: transparent;
		color: inherit;
		border: 1px solid #ddd;
	}
	.order-details-summary {
		background: #f6f7f7;
		text-align: center;
		padding: 24px;
		border-radius: 6px;
		margin: 0 0 24px;
		h2 {
			font-size: 16px;
			line-height: 24px;
			margin: 0;
		}
	}
	#ship-to-different-address {
		label {
			display: flex;
			align-items: center;
			margin: 0 0 24px;
			span::before,
			span::after {
				display: none;
			}
			input[type='checkbox'] {
				display: inline-grid;
				margin-right: 8px;
			}
		}
	}
	#customer_details { /* stylelint-disable-line */
		.woocommerce-billing-fields {
			p {
				margin: 8px 0 24px;
				&#billing_address_1_field { /* stylelint-disable-line */
					margin-bottom: 8px;
				}
			}
			label {
				font-size: 14px;
				line-height: 20px;
				font-weight: 600;
				margin-bottom: 8px;
			}
		}
	}
	#payment {
		.wc_payment_methods {
			margin: 0 0 24px;
		}
		.wc_payment_method {
			border: 1px solid #ddd;
			border-radius: 6px;
			padding: 16px;
			margin: 0 0 16px;
			font-size: 14px;
			line-height: 20px;
			> label {
				font-weight: 600;
			}
			&.selected {
				background-color: #f5fdff;
				border-color: #36f;
			}
			input.input-radio[name='payment_method'] + label::before {
				box-shadow: 0 0 0 1px #ddd;
			}
			input.input-radio[name='payment_method']:checked + label::before {
				background: #36f;
				box-shadow: 0 0 0 1px #36f;
			}
			.payment_box {
				font-size: 14px;
				line-height: 20px;
				padding: 0;
				background: transparent;
				margin: 16px 0 0;
			}
			> label:first-of-type {
				margin: 0;
			}
		}
		// Hide radio button if there's only one payment method.
		.wc_payment_method:first-child:nth-last-child( 1 ) {
			label:first-of-type::before {
				display: none;
			}
		}
		.wc-saved-payment-methods {
			margin: 0;
			padding: 0 0 0 8px;
			li input[type='radio'] {
				margin-right: 8px;
			}
		}
		.wc-payment-form {
			margin: 16px 0 0;
		}
		.newspack-cover-fees,
		.woocommerce-SavedPaymentMethods-saveNew {
			display: flex;
			margin: 16px 0 0;
			input {
				margin-right: 8px;
			}
		}
	}
	#order_review { /* stylelint-disable-line */
		margin: 0 0 24px;
		padding: 16px 24px;
		border-radius: 6px;
		background: #f6f7f7;
		table {
			font-size: 14px; // Prevent relative font size
			line-height: 24px;
			border: 0;
			margin: 0;
			th,
			td {
				font-size: 14px; // Prevent relative font size
				padding: 4px 0;
				vertical-align: top;
				border-color: #ddd;
				> * {
					white-space: nowrap;
				}
			}
			th {
				background-color: inherit;
				font-weight: 600;
				text-align: left;
			}
			td:last-child {
				width: 1%;
			}
			tr.cart-subtotal {
				th {
					font-weight: normal;
				}
			}
			tr.recurring-totals {
				th {
					padding-top: 24px;
				}
			}
			tfoot tr:last-child {
				th,
				td {
					border-bottom: 0;
				}
			}
		}
	}
	.woocommerce-terms-and-conditions-wrapper {
		margin: 0;
		.woocommerce-privacy-policy-text {
			font-size: 14px;
			line-height: 20px;
			color: #757575;
		}
	}
	.woocommerce-form-coupon {
		margin: 0 0 24px;
		p {
			display: flex;
			align-items: center;
			input[type='text'] {
				margin-right: 8px;
				flex-grow: 1;
			}
		}
		p.result {
			margin: 0;
			font-size: 14px;
			&.error {
				color: #cc1818;
			}
		}
	}
	#checkout_details { /* stylelint-disable-line */
		display: flex;
		margin: 0 0 24px;
		> * {
			flex: 1 1 100%;
			gap: 16px;
		}
		p {
			font-size: 14px;
			margin: 0;
		}
	}
	#checkout_continue, /* stylelint-disable-line */
	#place_order { /* stylelint-disable-line */
		background-color: var( --newspack-theme-color-primary );
		color: #fff; /* TODO: Fix dynamic contrast */
		font-size: 14px;
		font-weight: 600;
		display: block;
		width: 100%;
		border: 0;
	}
	#checkout_back { /* stylelint-disable-line */
		border: 0;
		width: 100%;
		background: transparent;
		color: inherit;
	}
	/* Remove support for "Allow customers to log into an existing account during checkout" */
	.woocommerce-form-login-toggle {
		display: none;
	}
	/* Hide reCAPTCHA badge */
	.grecaptcha-badge {
		visibility: hidden !important;
	}
}
