@use '../shared/sass/colors';

#newspack_modal_checkout { /* stylelint-disable-line */
	padding: 32px;
	font-size: 1rem;
	.order-details-summary {
		border: 2px solid;
		border-radius: 3px;
		padding: 16px;
		h4 {
			font-size: 1rem;
			margin: 0;
			> span {
				color: inherit;
				font-size: clamp( 1.75rem, 1.75rem + ( ( 1vw - 0.48rem ) * 0.962 ), 2.25rem );
				font-weight: bold;
				line-height: 1.434;
			}
			.subscription-details {
				font-size: 1rem;
				font-weight: normal;
			}
		}
	}
	.woocommerce-checkout-review-order-table {
		margin-top: 16px;
		th,
		td {
			font-size: 0.8rem;
		}
		&.empty {
			margin: 0;
			padding: 0;
		}
	}
	.woocommerce-billing-fields {
		margin-bottom: 16px;
	}
	.checkout-billing-summary {
		border-bottom: 1px solid colors.$color__border;
		padding-bottom: 32px;
		&__grid {
			align-items: baseline;
			display: flex;
			flex-wrap: wrap;
			gap: 8px;
			justify-content: space-between;
		}
		p {
			font-size: clamp( 0.75rem, 0.75rem + ( ( 1vw - 0.48rem ) * 0.481 ), 1rem );
			margin: 16px 0 0;
		}
		.edit-billing-link {
			color: colors.$color__text-light;
			font-size: clamp( 0.75rem, 0.75rem + ( ( 1vw - 0.48rem ) * 0.481 ), 1rem );
			display: inline-block;
			text-decoration: underline;
			&:focus,
			&:hover {
				color: inherit;
			}
		}
	}
	form {
		margin: 0;
		#wc-stripe-payment-request-button-separator {
			margin: 0;
		}
		.woocommerce-terms-and-conditions-wrapper {
			margin: 16px 0;
		}
		h3 {
			font-size: 1.37rem;
			margin: 32px 0 0;
		}
		p {
			margin: 16px 0;
		}
		.select2-container .select2-selection--single {
			margin: 0;
		}
		#payment button#place_order { /* stylelint-disable-line */
			margin-bottom: 0;
		}
		.checkout-billing button[type='submit'],
		button.modal-continue {
			display: block;
			width: 100%;
		}
	}
	.form-row-first,
	.form-row-last {
		width: calc( 50% - 8px );
	}
	.form-row-wide + .form-row-first,
	.form-row-wide + .form-row-first + .form-row-last,
	.form-row-last + .form-row-first {
		margin-top: 0;
	}
	.select2-container--default {
		.select2-selection--single {
			border-color: colors.$color__border;
			border-radius: 0;
			height: 44px;
			.select2-selection__rendered {
				color: inherit;
				line-height: 44px;
			}
			.select2-selection__arrow {
				height: 42px;
			}
		}
	}
	.wc_payment_method .payment_box {
		background: colors.$color__gray-lighter;
		border-radius: 3px;
		padding: 16px;
		p {
			margin-top: 0;
		}
	}
	.wc-saved-payment-methods {
		padding: 0;
	}
	.woocommerce-error {
		border-radius: 3px;
		margin: 0;
	}
	.woocommerce-notices-wrapper:not( :empty ) {
		margin-bottom: 32px;
	}
	.woocommerce-privacy-policy-text {
		color: colors.$color__text-light;
		p {
			font-size: clamp( 0.75rem, 0.75rem + ( ( 1vw - 0.48rem ) * 0.481 ), 1rem );
			margin: 0;
		}
	}
	.woocommerce-thankyou-order-received {
		align-items: center;
		border-bottom: 1px solid colors.$color__border;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0 0 32px;
		padding: 0 0 32px;
		&::before {
			animation: bounce 250ms ease-in;
			animation-delay: 1s;
			animation-fill-mode: forwards;
			background-color: colors.$color__success;
			background-image: url( "data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.7 7.1l-6.3 8.5-3.3-2.5-.9 1.2 4.5 3.4L17.9 8z' fill='white'/%3E%3C/svg%3E" );
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: 24px;
			border-radius: 50%;
			content: '';
			display: block;
			height: 40px;
			margin-bottom: 16px;
			padding: 8px;
			transform: scale( 0 );
			width: 40px;
		}
	}
	.woocommerce-order-overview {
		color: colors.$color__text-light;
		list-style: none;
		margin: 16px 0 0;
		padding: 0;
	}
}

@keyframes bounce {
	0% {
		transform: scale( 0 );
	}
	90% {
		transform: scale( 1.4 );
	}
	100% {
		transform: scale( 1 );
	}
}
