@use '../shared/sass/colors';
@use '../shared/sass/variables';

@keyframes spin {
	0% {
		transform: rotate( 0deg );
	}
	50% {
		transform: rotate( 180deg );
	}
	100% {
		transform: rotate( 360deg );
	}
}

.newspack-blocks-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba( 0, 0, 0, 0.75 );
	z-index: 99999;
	&__content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate( -50%, -50% );
		width: calc( 100vw - 32px );
		max-width: 580px;
		min-height: 200px;
		max-height: calc( 100vh - 32px );
		background: colors.$color__background-body;
		border-radius: 5px;
		> *:not( .newspack-blocks-modal__close ) {
			width: 100%;
			height: 100%;
			border: 0;
			border-radius: 5px;
		}
	}
	&__spinner {
		align-items: center;
		background: #fff;
		border-radius: 5px;
		display: flex;
		height: 100%;
		justify-content: center;
		left: 50%;
		opacity: 0.5;
		position: absolute;
		top: 50%;
		transform: translate( -50%, -50% );
		width: 100%;
		> span {
			animation: spin 1s infinite linear;
			border: 2px solid colors.$color__background-body;
			border-top-color: colors.$color__text-light;
			border-radius: 50%;
			height: 25px;
			width: 25px;
		}
	}
	&__close {
		position: absolute;
		top: 0;
		right: 0;
		padding: 8px;
		border: 0;
		background: transparent;
		color: colors.$color__text-main;
		cursor: pointer;
		&:focus,
		&:hover {
			color: colors.$color__text-light;
		}
		svg {
			display: block;
		}
	}
}

.newspack-blocks-variation-modal {
	.newspack-blocks-modal {
		&__content {
			padding: 32px;
			overflow: auto;
			border-radius: 5px;
			h3 {
				margin: 0 0 1em;
			}
			p {
				font-size: 0.8em;
			}
			form {
				margin: 0 0 0.5em;
				&:last-child {
					margin: 0;
				}
				button {
					display: block;
					width: 100%;
					padding: 16px;
					margin: 0;
					border: 1px solid colors.$color__border;
					background: transparent;
					color: colors.$color__text-main;
					text-align: inherit;
					font-weight: inherit;
					> span {
						display: block;
					}
					.summary {
						width: 100%;
						display: flex;
						justify-content: space-between;
						align-items: flex-end;
						.subscription-details {
							bdi {
								font-size: inherit;
							}
						}
					}
					.price {
						max-width: 65%;
					}
					.variation_name {
						font-weight: 600;
						font-size: 0.9em;
						margin-left: 0.5em;
					}
					.description {
						padding-top: 1em;
						margin-top: 1em;
						font-size: 0.9em;
						border-top: 1px solid colors.$color__border;
					}
					bdi {
						font-weight: 600;
						font-size: 1.8em;
					}
				}
			}
		}
	}
}

@media ( max-width: 600px ) {
	.newspack-blocks-modal {
		&__content {
			max-width: 100%;
			width: 100%;
			border-radius: 0;
			top: auto;
			bottom: 0;
			left: 0;
			transform: none;
			> *:not( .newspack-blocks-modal__close ) {
				border-radius: 0;
			}
		}
	}
}
