/**
 * Patterns
 */

.newspack-patterns-block-styles {
	.block-editor-block-styles__item {
		padding-top: 6px;
	}

	.block-editor-block-styles__item-preview {
		margin: 0;
		padding: 0;
		width: 100%;
	}
}
