.wp-block-newspack-blocks-popup {
	background: white;
	padding: 2em;
	min-width: 50%;
}
.lightbox {
	background: rgba(0,0,0,.8);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
